{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories-item big-box">
                    <div class="categories_text my-5">
                        <h1>View All</h1>
                        <p>View our entire range of stylish wrist watches. We supply individual watches for individual
                            people. Specialists in Casio, Fossil and Skagen.</p>
                        <button class="shop-btn btn btn-lg text-uppercase py-3"><a href="{% url 'products' %}">View All</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-1">
                            <div class="categories_text">
                                <h2>Men's</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-2">
                            <div class="categories_text">
                                <h2>Women's</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-3">
                            <div class="categories_text">
                                <h2>Unisex</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-4">
                            <div class="categories_text">
                                <h2>Children's</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-5">
                            <div class="categories_text">
                                <h2>Restored</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories-item little-box little-box-6">
                            <div class="categories_text">
                                <h2>Special Offers</h2>
                                <button><a href="">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products-spread">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <div class="section-title">
                    <h4>Special Offers</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter-menu">
                    <li class="active">
                        All
                    </li>
                    <li>
                        Men's
                    </li>
                    <li>
                        Women's
                    </li>
                    <li>
                        Children's
                    </li>
                    <li>
                        Unisex
                    </li>
                    <li>
                        Restored
                    </li>
                </ul>
            </div>
        </div>
        <div class="row product-gallery">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-gallery">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-image">
                        Image
                        <div class="label">
                            Offers
                        </div>
                    </div>
                    <div class="product-item-text">
                        <h6>
                            <a href="#">Random Watch #1</a>
                        </h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-price">
                            £59.99
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-spread">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services-item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For orders over £50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services-item">
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>See <a href="#">Terms & Conditions</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services-item">
                    <i class="fa-solid fa-life-ring"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated experts</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services-item">
                    <i class="fa fa-headphones"></i>
                    <h6>Secure Payments</h6>
                    <p>For your peace of mind</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}