{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header_logo">
                    <a href="">
                        <img src="">
                        Logo goes here!
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header_menu">
                    <ul>
                        <li class="active">
                            <a href="">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Men
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Women
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Unisex
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Children
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Restored
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Special Offers
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header_right_auth">
                    <a href="">Login</a>
                    /
                    <a href="">Register</a>
                </div>
                <ul class="header_right_widgets">
                    <li>
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-heart"></i>
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-bag-shopping"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories_item">
                        <div class="categories_text">
                            <h1>View All</h1>
                            <p>View our entire range of stylish wrist watches.  We supply individual watches for individual people.  Specialists in Casio, Fossil and Skagen.</p>
                            <button><a href="">View All</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Men's Watches</h1>
                                    <p>Watches for the discerning gentleman and the retro lover.</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Women's Watches</h1>
                                    <p>Elegant and beautiful watches for our female customers.</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Unisex Watches</h1>
                                    <p>Watches do not have to be gender-biased.  Maybe there is something in this category for you.  Watch you want?</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Children's Watches</h1>
                                    <p>View our entire range of stylish wrist watches.  We supply individual watches for individual people.  Specialists in Casio, Fossil and Skagen.</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Restored Watches</h1>
                                    <p>View our entire range of stylish wrist watches.  We supply individual watches for individual people.  Specialists in Casio, Fossil and Skagen.</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories_item">
                                <div class="categories_text">
                                    <h1>Special Offers</h1>
                                    <p>View our entire range of stylish wrist watches.  We supply individual watches for individual people.  Specialists in Casio, Fossil and Skagen.</p>
                                    <button><a href="">View All</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>





    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}