.blog-title {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.blog-title::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background: #ff0051;
  content: "";
}

.card {
  border: none;
  background-color: transparent;
}

.card-title {
  color: #111111;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.card-title::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background: #ff0051;
  content: "";
}

.card-body {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-img-top {
  max-height: 500px;
}

.image-container {
  position: relative;

}
/* Modifying style for top of article titles */
.image-flash-top {
  position: absolute;
  top: 0%;
  min-width: 18%;
  background-color: #5247d4;
}
/* Modifying style for bottom of article titles */
.image-flash-bottom {
  position: absolute;
  bottom: 0%;
  min-width: 18%;
  background-color: #5247d4;
}

.author {
  color: white;
  font-weight: 400;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
}

.masthead-text {
  background-color: #5247d4;
  color: white;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.post-title {
  margin-top: 15px;
}

.post-subtitle i {
  margin-bottom: 2px;
}

.border-blog {
  border: 2px solid #111111;
}

.border-blog a {
  text-decoration: none;
}

.page-link {
  color: #5247d4;
}

.post-title {
  padding-top: 15px;
}

.post-subtitle {
  text-transform: uppercase;
  margin-left: 5%;
  color: lightgray;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.blog-image-container {
  max-width: 300px;
  max-height: 350px;
  margin-bottom: 25px;
  margin: auto;
}

.card-text {
  margin-top: 25px;
}
.link:hover,
.link:active {
  color: #fff;
  text-decoration:underline;
}

.btn-like {
  color: #5247d4;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #5247d4;
  background: transparent;
  border: none;
}

.card-body-background {
  background-color: #f9fafce5;
}

.blue {
  background-color: #5247d4;
}

.blueicon {
  color: #5247d4;
}

.blueicon-small {
  padding-right: 5px;
}

/* Lines */
.fat {
  background-color:#5247d4;
  height:3px!important;
}

.thin {
  background-color: #5247d4;
  font-weight: 300;
}