.blog-spread {
    padding-top: 70px;
    padding-bottom: 80px;
}

.blog-item {
    margin-bottom: 35px;
}

.blog-image-container {
    position: relative;
    height: 240px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.blog-article-text {
    position: absolute;
    padding: 25px 20px 0 0;
    margin-right: 30px;
    background: #fff;
    margin-top: -54px;
}

.blog-article-text h6 a {
    margin-bottom: 6px;
    font-size: 16px;
    color: #111;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.blog-article-text ul {
    list-style: none;
}

.blog-article-text ul li {
    font-size: 12px;
    color: #888888;
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    position: relative;
}

.blog-article-text ul li span {
    color: #111;
}

.blog-article-text ul li span::after {
    position: absolute;
    right: -17px;
    top: 0px;
    content: "|";
}

.blog-article-text ul li:last-child {
    margin-right: 0;
}

.blog-image-container i {
        position:absolute;
        bottom:0px;
        right:0px;
        font-size: 33px;
        color: blue;
}