html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace; 
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
    font-weight: 900;
    letter-spacing: 0;
}

/* header */

#topnav {
    margin-top: 0;
    margin-bottom: 0;
}
.header-menu {
    padding: 5px 0 5px;
}

.main-logo-link {
    width: fit-content;
}

.search-form form {
    position: relative;
    margin-bottom: 5px;
}

.search-form form button {
    position: absolute;
    right: 4px;
    top: 4px;
}

.search-form form input {
    height: 52px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 30px;
    font-size: 14px;
    color: #666;
}

.header-menu ul li {
    margin-right: 20px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.header-menu ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #111;
    font-weight: 500;
    padding: 2px 0;
    cursor: pointer;
}

.right-list {
    display: inline-block;
    margin-right: 25px;
    text-align: right;
    padding: 30px 0 27px;
}

.header-right-widgets li {
    list-style: none;
    font-size: 18px;
    color: #111;
    cursor: pointer;
}

.header-right-widgets a {
    font-size: 14px;
    color: #666;
    position: relative;
    margin-right: 8px;
}

.header-logo {
    padding: 26px 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Page Content */

.categories-item {
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.big-box {
    height: 638px;
    padding-left: 70px;
    background: #00ece2;
}

.little-box {
    height: 206px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.little-box-1{
    background: #d358e0
}

.little-box-2{
    background: #5247d4
}

.little-box-3{
    background: #ff43ab
}

.little-box-4{
    background: #effc00
}

.little-box-5{
    background: #ff0051
}

.little-box-6 {
    background: #00ece2
}

.products-spread {
    padding-top: 60px;
    padding-bottom: 50px;
    display: block;
}

.section-title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-bottom: 45px;
}

.filter-menu {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
    margin-bottom: 50px;
}

.filter-menu li {
font-size: 14px;
list-style: none;
display: inline-block;
color: #111;
margin-right: 35px;
position: relative;
cursor: pointer;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.product-item {
    margin-bottom: 15px;
}

.product-image {
    height: 360px;
    position: relative;
    overflow: hidden;
}

.product-item-text {
    text-align: center;
    padding-top: 22px;
}

.product-item-text h6 a {
    font-size: 14px;
    color: #111;
}

.product-item-text .rating {
    background: #111;
    line-height: 18px;
    padding: 5px;
    margin-bottom: 5px;
}

.product-item-text .rating i {
    font-size: 10px;
    color: #effc00;
    margin-right: -4px;
}

.product-item-text .product-price {
    color: #111;
    font-weight: 600;
}

.services-spread {
    display: block;
    padding-top: 80px;
    padding-bottom: 50px;
}

.services-item {
    padding-left: 65px;
    position: relative;
    margin-bottom: 20px;
}
.services-item i {
    font-size: 36px;
    color: #ff0051;
    position: absolute;
    left: 0;
    top: 4px;
}

.services-item h6 {
    color: #111;
    font-weight: 600;
    margin-bottom: 5px;
}

.services-item p {
    margin-bottom: 0;
}

/* Footer */
.footer {
    padding-top: 55px;
}

footer-about {
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-about p {
    margin-bottom: 20px;
}

.footer-widget {
    margin-bottom: 30px;
}

.footer-widget h6 {
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-newsletter {
    margin-bottom: 30px;
}

.footer-newsletter h6 {
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-newsletter form {
    position: relative;
    margin-bottom: 30px;
}

.footer-newsletter form button {
    position: absolute;
    right: 4px;
    top: 4px;
}

.footer-newsletter form input {
    height: 52px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 30px;
    font-size: 14px;
    color: #666;
}

.footer-widget ul li {
    list-style: none;
}

.footer-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #e1e1e1;
    font-size: 15px;
    color: #111;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 5px;
}

.footer-copyright-text {
    border-top: 1px solid #e1e1e1;
    padding: 18px 0 25px;
    text-align: center;
    margin-top: 35px;
}

/* Buttons */

button {
    cursor: pointer;
}

.site-btn {
    font-size: 14px;
    color: #00ece2;
    background: #111;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
}

.shop-btn {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colours for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Products page */

.breadcrumb {
    padding-top: 70px;
}

.breadcrumb-links a {
    font-size: 15px;
    font-weight: 500;
    color: #111;
    margin-right: 18px;
    display: inline-block;
    position: relative;
}

.breadcrumb-links a::after {
    position: absolute;
    right: -14px;
    top: 0;
    content: ">";
}

.breadcrumb-links span {
    font-size: 15px;
    font-weight: 500;
    color: #888;
    display: inline-block;
}

.breadcrumb-links a i {
    margin-right: 5px;
}

.shop {
    padding-top: 70px;
    padding-bottom: 80px
}

.sidebar-categories {
    margin-bottom: 50px;
}

a:not([href]) {
    text-decoration: none;
}

/* Product detail page */

.product-details-text h3 {
    display: block;
    font-size: 18px;
    color: #444444;
    text-transform: none;
    font-weight: 400;
    margin-top: 5px;
}

.product-details-price {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.product-details-description {
    color: #444444;
    margin-bottom: 28px;
}

.product-details-widget {
    border-top: 1px solid #ebebeb;
    padding-top: 35px;
}

.product-details-widget ul li {
    list-style: none;
    margin-bottom: 10px;
}

.product-details-widget ul li span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    width: 150px;
    float: left;
}

/* Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */
.allauth-form.inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form.inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form.inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form.inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}