{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_title %} - {{ blog.title }} {% endblock %}


<!-- Main Content -->
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1 lettuce-text">{{ blog.title }}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">
                    <p>Recipe created on: {{ blog.publish_date }}, by {{ blog.author }}. Last updated:
                        {{ blog.last_updated }}</p>
                </div>
            </header>
            <div class="container">
                <!-- Preview image figure-->
                <div class="row">
                    <figure class="mb-5">
                        {% if "placeholder" in blog.featured_image.url %}
                        <img src="" alt="Bowl of salad" id="blog-image"
                            class="img-fluid rounded">
                        {% else %}
                        <img id="blog-image" src="{{ blog.featured_image.url }}" alt="{{ blog.title }}">
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>

        <!-- Recipe content-->
        <section class="row mb-5">
            <div class="fs-5 mb-4">
                {{ blog.content | safe }}
            </div>

            <div class="row">

                <div class="col-1">
                        {% if user.is_authenticated %}
                        <form id="like_form" action="{% url 'post_like' blog.slug %}"
                        class="d-inline" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blog_id" value="{{ blog.slug }}"
                            class="btn btn-md"><i class="fas fa-heart"></i>
                            {{ blog.amount_of_likes }} </button>
                        {% else %}
                        <button type="submit" name="blog_id" value="{{ blog.slug }}"
                            class="btn btn-md"><i class="far fa-heart"></i>
                            {{ blog.amount_of_likes }}</button>
                        {% endif %}
                        {% endif %}
                    </form>
                </div>
        </section>

                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 class="dancing-text">Comments</h3>
                            <!-- Single comment-->
                            {% for comment in comments %}
                            <div class="d-flex">
                                <div class="ms-3">
                                    <div class="fw-bold">{{ comment.name }}, created a comment on {{ comment.created_on }}
                                    </div>
                                    {{ comment.body | linebreaks }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Comment form-->

                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Thank you! Your comment will appear once approved.
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <p>Posting as {{ user.username }}</p>

                <form method="post" class="mb-4">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}

{% endblock %}