{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="review-heading mt-4 mb-4">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>

<p class="pt-4">Thank you for visiting the <strong>Watch You Want?</strong> website today.</p>
<p class="pt-4 pb-2">Please drop by and visit us again.</p>


{% endblock %}