{% block content %}
{% load static %}

<!-- Reviews Section -->
<section class="mb-5">
    <div class="card bg-light">
        <div class="review-body">
            <h3 class="review-heading">Reviews</h3>
            {% if user.is_authenticated %}
                    <h5 class="title-heading-small">Add your review here</h5>
                    <a href="{% url 'add_review' product.id %}" class="btn btn-custom rounded-0" aria-label="add review">Add Review <i
                        class="fas fa-plus ml-2"></i></a>
            {% else %}
            <div class="columns">
                <div class="column">
                    <h6 class="title-heading-small">
                        Please <a href="{% url 'account_login' %}">log in</a> to add a review of a product.</h6>
                </div>
            </div>
            {% endif %}

    <div class="container text-center text-md-left mb-3">
        <div class="row text-center text-md-left g-3 card-row">

            {% if reviews %}
            {% for review in product.reviews.all %}
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="card box-shadow h-100">
                    <div class="card-body">
                        <div class="blockquote-custom-icon quote-square shadow-1-strong">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                        <p class="card-text">{{ review.description | linebreaks }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-black"><small>Review by {{ review.user }}, on
                            {{ review.review_time|date:"M d, Y" }}.</small>
                        </div>
                        <div class="text-black"><small>{{ review.user }} gave this product a
                            <span class="review-star-rating">{{ review.star_rating }} - <i
                                    class="fas fa-star mr-1"></i></span>rating.</small>
                        </div>
                        
                        {% if request.user.is_authenticated %}
                        {% if request.user|lower == review.user|lower %}
                        <!-- Edit / Delete review if user's review -->
                        <p class="edit-buttons text-right">
                            <a href="{% url 'edit_review' review.id %}" class="btn">Edit my review
                                <i class="far fa-edit">
                                </i>
                            </a>
                            <a href="{% url 'delete_review' review.id %}" class="btn text-danger">Delete my
                                review
                                <i class="far fa-trash-alt">
                                </i>
                            </a>
                        </p>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
        <div class="row mt-3">
            {% if is_paginated %}
            <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
                            Previous</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="column">
        <h5 class="title-heading-small">There are no reviews for {{ product.name }} yet.</h5>
        <h6 class="title-heading-small">Why don't you add one?</h6>
    </div>
    {% endif %}
    {% endblock %}
</section>